annotated-doc==0.0.4
annotated-types==0.7.0
anyio 
argon2-cffi 
argon2-cffi-bindings 
asttokens 
async-lru 
attrs 
babel 
beautifulsoup4 
bleach 
brotlicffi 
certifi 
cffi 
charset-normalizer 
click==8.3.1
colorama 
comm 
debugpy 
decorator 
defusedxml 
dnspython==2.8.0
email-validator==2.3.0
executing 
fastapi==0.132.0
fastapi-cli==0.0.23
fastapi-cloud-cli==0.13.0
fastar==0.8.0
fastjsonschema 
h11 
httpcore 
httptools==0.7.1
httpx 
idna 
ipykernel 
ipython 
ipython_pygments_lexers 
jedi 
Jinja2 
joblib==1.5.3
json5 
jsonschema 
jsonschema-specifications 
jupyter-events 
jupyter-lsp 
jupyter_client 
jupyter_core 
jupyter_server 
jupyter_server_terminals 
jupyterlab 
jupyterlab_pygments 
jupyterlab_server 
markdown-it-py==4.0.0
MarkupSafe 
matplotlib-inline 
mdurl==0.1.2
mistune 
nbclient 
nbconvert 
nbformat 
nest-asyncio 
notebook 
notebook_shim 
numpy==2.4.2
overrides 
packaging 
pandocfilters 
parso 
platformdirs 
prometheus_client 
prompt_toolkit 
psutil 
pure_eval 
pycparser 
pydantic==2.12.5
pydantic-extra-types==2.11.0
pydantic-settings==2.13.1
pydantic_core==2.41.5
Pygments 
PySocks 
python-dateutil 
python-dotenv==1.2.1
python-json-logger 
python-multipart==0.0.22 
PyYAML 
pyzmq 
referencing 
requests 
rfc3339-validator 
rfc3986-validator 
rich==14.3.3
rich-toolkit==0.19.4
rignore==0.7.6
rpds-py 
scikit-learn==1.8.0
scipy==1.17.1
Send2Trash 
sentry-sdk==2.53.0
shellingham==1.5.4
six 
sniffio 
soupsieve 
stack_data 
starlette==0.52.1
terminado 
threadpoolctl==3.6.0
tinycss2 
tornado 
traitlets 
typer==0.24.1
typing-inspection==0.4.2
typing_extensions 
urllib3 
uvicorn==0.41.0
watchfiles==1.1.1
wcwidth 
webencodings==0.5.1
websocket-client 
websockets==16.0
win_inet_pton 
